////////////////////////////////////////////////////////////////////////////////
// Hide Stuff
////////////////////////////////////////////////////////////////////////////////
.hide {display: none !important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

////////////////////////////////////////////////////////////////////////////////
// .separator
////////////////////////////////////////////////////////////////////////////////
.separator {
	width: 100%;
	border-color: #cecece;
}

////////////////////////////////////////////////////////////////////////////////
// Space utility classes
////////////////////////////////////////////////////////////////////////////////

.mt8 {margin-top: 8px;}
.mt12 {margin-top: 12px;}
.mt16 {margin-top: 16px;}
.mt24 {margin-top: 24px;}

.mb8 {margin-bottom: 8px;}
.mb12 {margin-bottom: 12px;}
.mb16 {margin-bottom: 16px;}
.mb24 {margin-bottom: 24px;}